<html lang="en">
    <body>

        <!-- Main navigation -->
        <header>

          <!-- Full Page Intro -->
          <div class="view" style="background-image: url('https://bushysttvillage.com/wp-content/uploads/2019/09/sam-manns-lBdVjQcfSRQ-unsplash.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
            <!-- Mask & flexbox options-->
            <div class="mask rgba-gradient align-items-center">
              <!-- Content -->
              <div class="container">
                <!--Grid row-->
                <div class="row">
                  <!--Grid column-->
                  <div class="col-md-6 white-text text-center text-md-left mt-xl-5 mb-5 wow fadeInLeft" data-wow-delay="0.3s">
                    <h1 class="h1-responsive font-weight-bold mt-sm-5">Mabel will keep your pet happy and healthy. </h1>
                    <hr class="hr-light">
                    <h6 class="mb-4">Find, book and review a wide selection of services for your pet; from pet walking appointments to grooming, training, and spa sessions.
</h6>
                    <a href="<%= signup_path %>"><button type="button" class="btn">Sign Up</button></a>
                    <a href="<%= login_path %>"><button type="button" class="btn">Login</button>
                    
                  </div>
                  <br>
                   <br>
                    <br>
                     <br>
                      <br>
                       <br>
                        <br>
                         <br>
                          <br>
                           <br>
                            <br>
                             <br>
                              <br>
                               <br>
                                <br>
                                 <br>
                                  <br>
                                   <br>
                   <br>
                    <br>
                     <br>
                      <br>
                       <br>
                        <br>
                         <br>
                          <br>
                           <br>
                            <br>
                             <br>
                              <br>
                               <br>
                                <br>
                                 <br>
                                  <br>
                                  <br>
                              <br>
                               <br>
                                <br>
                                 <br>
                                  <br>
                  <!--Grid column-->
                  
        </header>
        <!-- Main navigation -->
        <!--Main Layout-->
        <main>
          <div class="container">
            <!--Grid row-->
            <div class="row py-5">
              <!--Grid column-->
              <div class="col-md-12 text-center">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </div>
              <!--Grid column-->
            </div>
            <!--Grid row-->
          </div>
        </main>
        <!--Main Layout-->

    </body>
</html>